* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    font-family: Arial, sans-serif;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-box {
    width: 1100px;
    /* Mobilde ekran taşmasın diye sınır koyuyoruz */
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}


.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.header-title {
    font-size: 26px;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.584);
    cursor: pointer;
}

.header-title:hover {
    transform: scale(1.10);

}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px;
    padding: 30px;
}

.film {
    background-color: #1a1a40;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.film:hover {
    transform: scale(1.03);
    border-color: #b5bf00;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.film img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

.course-title {
    margin-top: 15px;
    font-size: 16px;
    color: white;
}